

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  text-align: center;
}

#quote-box {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#new-quote {
  margin: 1rem;
}

#tweet-quote {
  margin-top: 1rem;
}

#text {
  font-size: 1.5rem;
}

#author {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

